 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    Welcome to our IceBreaker Game. Click on button to add more players....
    <a href="/players"><button>Link Text</button></a>

    <p>
    If you have finnished adding players Click on button to start play....
    <a href="/games"><button>Link Text</button></a>

</body>
</html>