 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color:powderblue;">



    <h1><p align="center">Welcome to our IceBreaker Game. Click on button to add more players....</h1>
    <p align="center"><a href="/players"><button style="font-size: 32px;">Add Players</button ></a></p>

   
<p> <%= $space %></p>



    <p>
    <h1><p align="center">If you have finnished adding players Click on button to start play....</h1>
    <p align="center"><a href="/games"><button style="font-size: 32px;">Play Game</button></a>
</p>
</body>
</html>