<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <title>Instructions</title>
</head>
<body style="background-color:powderblue;">
<ul>
<h1>
<li>This game is simple to play the aim of which is to have sexy fun for all. In essence it is similar to Truth or Dare combined with Strip Poker.</li>
<p></p>
<li>Minimum number of players is one of each sex. Maximum number is approximately 12 players provided there are players of both sexes of any ratio.</li>
<p></p>
<li>Each player will enter their name and sexual preference (Straight or Bi) as well as number of items of clothing worn. (pair shoes and pair socks are one item each)</li>
<p></p>
<li>Only the ladies sexual orientation is currently used. All men are presumed to be straight for purposes of the game’s instructions.</li>
<p></p>
<li>Some instructions are for a specific time period and there is a provided timer.</li>
<p></p>
<li>For purposes of this game when instructed to take off an item of clothing, ladies to take off items “top down” ie first hat and lastly shoes. For men it is reversed so shoes first and hat last.</li>
<p></p>
<li>If a player is uncomfortable with an instruction they may pass after taking a "shot". Removing clothing items must be complied with.</li>
<p></p>
</h1>
</ul> 
<a href="/game"><button style="font-size: 32px;">return</button>
<a href="/exit"><button style="font-size: 32px;">quit</button>
   </body>
