<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background-color:powderblue;">
<form action="/game" method='post' style="background-color:powderblue;">

   <h1>
   <p align="center"><label for="name">Players Name (4 to 8 characters must be unique):</label></h1>
<p>
<p align="center"><input type="text" id="name" name="name" size="20" style="font-size: 32px;">
</p>
<label for="Sex"><h1><p align="center">Sex (M or F):</h1></label>
<p>
<p align="center"><select name="Sex" id="Sex" style="font-size: 32px;">
<option value="M">Male</option>
<option value="F">Female</option>
</select>
</p>
    <h1><p align="center"><label for="Preference">Preference</label></h1>
<p>
<p align="center"><select name="Preference" id="Preference" style="font-size: 32px;">
<option value="B">Bi</option>
<option value="S">Straight</option>
</select>
</p>
<h1><p align="center"><label for="Clothing">Clothing(Number of items clothing. Maximum six):</label></h1>
<p>
<p align="center"><select name="Clothing" id="Clothing" style="font-size: 32px;">
<option value="1">One</option>
<option value="2">Two</option>
<option value="3">Three</option>
<option value="4">Four</option>
<option value="5">Five</option>
<option value="6">Six</option>
</select>
</p>
<p>
<p>   
<p align="center"><button type='submit' style="font-size: 32px;">add player </button><p></p></p>
   <p> </p>
   </form>
   <p>
   <p>
   <p>
   <p align="center"><a href="/exit"><button style="font-size: 32px;">quit</button></a><p></p>
   </body>
