
<% $myArray[0].gsub!("PlayerA", $allplayers[$randplayer1][0]) %>
<% $myArray[0].gsub!("PlayerB", $allplayers[$randplayer2][0]) %>
<% $myArray[0].gsub!("PlayerC", $allplayers[$randplayer3][0]) %><p>

 <% $myArray[1].gsub!("PlayerA", $allplayers[$randplayer1][0]) %>
 <% $myArray[1].gsub!("PlayerB", $allplayers[$randplayer2][0]) %>
 <% $myArray[1].gsub!("PlayerC", $allplayers[$randplayer3][0]) %><p>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <script src="main.js" type="module" ></script>
   
    <title>Document</title>
</head>

<body style="background-color:powderblue;">

<h1><p align="center"><%= $myArray[0] %></h></h1> 


<h1><p align="center"><a href="/games"><button style="font-size: 32px;">Next Instruction</button></a></h1><p></p>

<p align="center"><a href="/exit"><button style="font-size: 32px;">quit</button></a><p></p>

<div id="app"></div>

</body>
