
<% $instr.gsub!("PlayerA", $allplayers[$randplayer1][0]) %>
<% $instr.gsub!("PlayerB", $allplayers[$randplayer2][0]) %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<h1><p align="center"><%= $instr %></h></h1>

<h1><p align="center"><a href="/games"><button>Next Instruction</button></a></h1><p></p>
<p align="center"><a href="/exit"><button>quit</button></a><p></p>

<div id="app"></div>
</body>